* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    
}




#responsive-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid black;
  }


/* xs */
@media (min-width: 475px) {
    #responsive-container {
      max-width: 475px;
    }
  }
  
  /* sm */
  @media (min-width: 640px) {
    #responsive-container {
      max-width: 640px;
    }
  }
  
  /* md */
  @media (min-width: 768px) {
    #responsive-container {
      max-width: 768px;
    }
  }
  
  /* lg */
  @media (min-width: 1024px) {
    #responsive-container {
      max-width: 1024px;
    }
  }
  
  /* xl */
  @media (min-width: 1280px) {
    #responsive-container {
      max-width: 1280px;
    }
  }
  
  /* 2xl */
  @media (min-width: 1536px) {
    #responsive-container {
      max-width: 1536px;
    }
  }


#nav-bar {
    display: flex;
    justify-content: end;
}